.layout-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.5s;
}
.layout-enter,
.layout-leave-to {
  opacity: 0;
}

.d-contents {
  display: contents;
}

.toolbar-input .v-input__slot {
  background-color: rgba(0, 0, 0, 0) !important;
}

.cart-activator {
  position: relative;
}
.cart-activator-notifier {
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  top: -3px;
  right: 6px;
  width: 7.5px;
  height: 7.5px;
  border-radius: 1000%;
}
