.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.semi-transparent-dark {
  background: rgba(0, 0, 0, 0.75) !important;
}
.semi-transparent-light {
  background: rgba(255, 255, 255, 0.75) !important;
}
