// $body-font-family: "Open Sans", sans-serif;
$body-font-family: "Raleway", sans-serif;

$treeview-node-margin: 0px;
$treeview-node-padding: 4px;

$border-radius-root: 6px;

// card
$card-elevation: 0;
$card-title-word-break: break-word;
